@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #fff;
}
body {
  background-color: #111;
}

#tasklist::-webkit-scrollbar{
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #fff;
  border-radius: 50%;
}
